[Unit]
After=network-online.target
Wants=network-online.target
Before=systemd-user-sessions.service
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
ConditionPathExists=!/usr/local/bin/k3s
[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/local/bin/k3s-installer
StandardOutput=kmsg+console
StandardError=kmsg+console
[Install]
WantedBy=multi-user.target
